@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  [data-manifest-key="site/sections/BackgroundGrid.tsx"] {
    z-index: -1;
    position: relative;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }

  .highlighted {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: currentColor;
  }

  .highlighted-before {
    position: relative;
  }
  .highlighted-before::before {
    content: '';
    width: 100%;
    z-index: -1;
    height: 5px;
    position: absolute;
    bottom: 3px;
    left: 0;
    @apply lg:h-[10px];
  }

  .highlighted-before.variant::before {
    height: 10px;

    @apply lg:h-[22px] lg:bottom-[9px];
  }

  .cross-border-x::before {
    @apply top-0 left-0 absolute w-full h-full border-base-content border-t-2 border-b-2;
  }
  .cross-border-y::after {
    @apply top-0 left-0 absolute w-full h-full border-base-content border-l-2 border-r-2;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
